body{
  margin: 0px;
}

.sidebar {
  width: 150px;
  background-color: lightgrey;
  height: 100vh;
  padding-left: 10px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.item {
  font-weight: bold;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
  
}
